version: '3.8'

services:
  web:
    build: ./
    command: gunicorn --bind 0.0.0.0:5000 app:app
    ports:
      - 5000:5000
    env_file:
      - .flaskenv
    depends_on:
      - db
  
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data/
    env_file:
      - ./.flaskenv

volumes:
  postgres_data_prod: