body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header {
  background-color: #07ad90;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Dark Mode CSS */
.dark-mode {
  background-color: #343a40; /* Bootstrap dark background */
  color: #ffffff; /* White text color */
}

/* Override styles for dark mode */
.dark-mode .room-card,
.dark-mode .room-plus-card {
  background-color: #424242; /* Darker background for cards */
  color: #dddddd; /* Lighter text for visibility */
  border-color: #333333; /* Optional: adjust if you have borders */
}

.dark-mode .room-card:hover,
.dark-mode .room-plus-card:hover {
  background-color: #535353; /* Slightly lighter background on hover */
}



/* Additional dark mode styles */
.dark-mode header {
  background-color: #333333; /* Adjust header background for dark mode */
}
.dark-mode .alive-button-on{
  background-color: #007E33; /* Adjusted green for better visibility in dark mode */
}

/* Room Card CSS */
.room-card {
  background-color: white;
  border-radius: 15px;
  border-color: #07ad90;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  /* margin: 10px; */
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.room-card img {
  max-width: 100%;
  height: auto;
}

.room-card:hover {
  background-color: #eeeeee;
}



.room-plus-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: #999999;
  text-align: center;
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.room-plus-card:hover {
  background-color: #eeeeee;
  /* #06a27b */
}
.room-plus-card-img {
  margin-left: 1500px;
  width: 50px;
}

.alive-button-on{
  background-color: #007E33;
}

.alive-button-off{
  /* background-color: grey; */
  animation: alive-button-blink;
}

.alive-button-pending{
  /* background-color: orange; */
  animation: alive-button-blink;
}

/* Animations */

/* Blink animation for Alive Button */
@keyframes alive-button-blink { 
  0% {
    /* opacity: 0; */
    background-color: orange;
  }
  50% {
    background-color: grey;
  }
  100% {
    /* opacity: 1; */
    background-color: orange;
  }
}