/* Modal Style */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* width: 100%; */
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  border-top: 1px black;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Button Style */
.modal-trigger {
  background-color: #07ad90;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-create {
  background-color: #07ad90;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-trigger:hover {
  background-color: grey;
}

/* Dark Mode */
.dark-mode .list-group-item{
  background-color: #333333;
  border-color: transparent;
  color: white;
  font-size: clamp(1rem,50%,2rem);
}