* {
  box-sizing: border-box;
}

.invalid-paragraph {
  color: red;
  visibility: hidden;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  background: rgb(145, 144, 144);
  padding: 20px;
  text-align: center;
}

.body-login {
  background: #ffffff;
}

.wrapper {
  width: 250px;
  height: 350px;
  margin: 60px auto;
  perspective: 600px;
  text-align: left;
}

.rec-prism {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.5s ease-in;
}

.face {
  position: absolute;
  width: 250px;
  height: 350px;
  padding: 20px;
  background: rgba(250, 250, 250, 0.96);
  border: 3px solid #07ad90;
  border-radius: 3px;
}
.face .content {
  color: #666;
}
.face .content h2 {
  font-size: 1.2em;
  color: #07ad90;
}
.face .content .field-wrapper {
  margin-top: 30px;
  position: relative;
}
.face .content .field-wrapper label {
  position: absolute;
  pointer-events: none;
  font-size: 0.85em;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  transition: all ease-in 0.25s;
  color: #999999;
}
.face .content .field-wrapper input[type=text], .face .content .field-wrapper input[type=password], .face .content .field-wrapper input[type=submit], .face .content .field-wrapper textarea {
  -webkit-appearance: none;
  appearance: none;
}
.face .content .field-wrapper input[type=text]:focus, .face .content .field-wrapper input[type=password]:focus, .face .content .field-wrapper input[type=submit]:focus, .face .content .field-wrapper textarea:focus {
  outline: none;
}
.face .content .field-wrapper input[type=text], .face .content .field-wrapper input[type=password], .face .content .field-wrapper textarea {
  width: 100%;
  border: none;
  background: transparent;
  line-height: 2em;
  border-bottom: 1px solid rgb(7, 173, 144);
  color: #666;
}
.face .content .field-wrapper input[type=text]::-webkit-input-placeholder, .face .content .field-wrapper input[type=password]::-webkit-input-placeholder, .face .content .field-wrapper textarea::-webkit-input-placeholder {
  opacity: 0;
}
.face .content .field-wrapper input[type=text]::-moz-placeholder, .face .content .field-wrapper input[type=password]::-moz-placeholder, .face .content .field-wrapper textarea::-moz-placeholder {
  opacity: 0;
}
.face .content .field-wrapper input[type=text]:-ms-input-placeholder, .face .content .field-wrapper input[type=password]:-ms-input-placeholder, .face .content .field-wrapper textarea:-ms-input-placeholder {
  opacity: 0;
}
.face .content .field-wrapper input[type=text]:-moz-placeholder, .face .content .field-wrapper input[type=password]:-moz-placeholder, .face .content .field-wrapper textarea:-moz-placeholder {
  opacity: 0;
}
.face .content .field-wrapper input[type=text]:focus + label, .face .content .field-wrapper input[type=text]:not(:placeholder-shown) + label, .face .content .field-wrapper input[type=password]:focus + label, .face .content .field-wrapper input[type=password]:not(:placeholder-shown) + label, .face .content .field-wrapper textarea:focus + label, .face .content .field-wrapper textarea:not(:placeholder-shown) + label {
  top: -35%;
  color: #42509e;
}
.face .content .field-wrapper input[type=submit] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  background: #07ad90;
  line-height: 2em;
  color: #fff;
  border: 1px solid #07ad90;
  border-radius: 3px;
  padding: 5px;
}
.face .content .field-wrapper input[type=submit]:hover {
  opacity: 0.9;
}
.face .content .field-wrapper input[type=submit]:active {
  transform: scale(0.96);
}
.face .content .field-wrapper textarea {
  resize: none;
  line-height: 1em;
}
.face .content .field-wrapper textarea:focus + label, .face .content .field-wrapper textarea:not(:placeholder-shown) + label {
  top: -25%;
}
.face .thank-you-msg {
  position: absolute;
  width: 200px;
  height: 130px;
  text-align: center;
  font-size: 2em;
  color: #07ad90;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.face .thank-you-msg:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 25px;
  border: 10px solid #07ad90;
  border-right: 0;
  border-top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
  -webkit-animation: success ease-in 0.15s forwards;
  animation: success ease-in 0.15s forwards;
  animation-delay: 2.5s;
}
.face-front {
  transform: rotateY(0deg) translateZ(125px);
}
.face-top {
  height: 250px;
  transform: rotateX(90deg) translateZ(125px);
}
.face-back {
  transform: rotateY(180deg) translateZ(125px);
}
.face-right {
  transform: rotateY(90deg) translateZ(125px);
}
.face-left {
  transform: rotateY(-90deg) translateZ(125px);
}
.face-bottom {
  height: 250px;
  transform: rotateX(-90deg) translateZ(225px);
}

.nav {
  margin: 20px 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  font-size: 1em;
  margin: 0 10px;
  color: #42509e;
  position: relative;
  cursor: pointer;
}
.nav li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  border-bottom: 1px solid #42509e;
  transition: all ease-in 0.25s;
}
.nav li:hover:after {
  width: 100%;
}

.psw, .signup, .singin {
  display: block;
  margin: 20px 0;
  font-size: 0.75em;
  text-align: center;
  color: #42509e;
  cursor: pointer;
}

/* Header continuous across all pages */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #07ad90;
  padding: 20px 40px;
  height: 80px;
}

.logo {
  padding: auto;
}

.cog-icon {
  padding: auto;
}

.title {
  padding: auto;
}

.logo-container img {
  height: 40px;
  padding: 5px;
}

.title-container h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.settings-container i {
  font-size: 24px;
}

/* Room page css, will edit for aesthetics once everything works */

/* Room page container */
.room-page-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Page header */

.room-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.room-page-header h2 {
  margin: 0;
}

/* Chart Containers */

.chart-container {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
/* Chart filter container */

.chart-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chart-filter-container label {
  margin-right: 10px;
}

.chart-filter-container select {
  height: 30px;
}

/* Experiments Container */

.experiment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.experiment-table th,
.experiment-table td {
  border: 1 px #07ad90;
  padding: 10px;
}

.experiment-table th {
  text-align: left;
  background-color: #a6979c;
}

.experiment-table td {
  text-align: center;
}

/* Add experiment button */
.add-experiment-btn{
  background-color: #07ad90;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-experiment-btn:hover {
  background-color: #3e8e41;
}

/* Modal dialogue - a modal is like a pop up window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(200,200,200,0.3);
}
/* Content of the modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h2 {
  margin: 0;
}

/* Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Save button */
.save-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #3e8e41;
}

/*  error msg */
.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

/* loading spinner */

.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
}


/* ChatBox */

#chatbox {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

#messages {
  height: 250px;
  padding: 10px;
}

#message-form {
  display: flex;
  align-items: center;
  padding: 10px;
}

#message-input {
  flex-grow: 1;
  margin-right: 10px;
}

.completed {
  color: green;
}

.to-do {
  color: red;
}


/* Room page css, will edit for aesthetics once everything works */


/* .container {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  vertical-align: top;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
} */

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
}

/* .measurement {
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
  color: green;
} */

.measurements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 250px;
  padding: 20px;
  background-color: #07ad90;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid #07ad90;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.measurements-container:hover {
  background-color: #07ad90;
}



.title {
  flex-basis: 40%;
  justify-content: left;
  font-weight: bolder;
  font-size: 30px;
}

.measurement {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin-bottom: 10px;
}

.label {
  flex-basis: 40%;
  font-size: 20px;
  font-weight: bold;
}

.value {
  flex-basis: 40%;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}
/* adding notes section css code */
.notes-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notes-container h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.notes-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.notes-container li {
  margin-bottom: 10px;
}

.notes-container .note-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notes-container .note-description {
  font-size: 12px;
  margin: 0;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
}

.settings {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.animated-header {
  color: #07ad90;
  font-size: 60px;
  text-align: center;
  /*
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

small {
  font-size: 0.7em;
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}
/* Add Fontawesome library for icon use*/

